:root {
  --brand-color: #ffffff;
  --second-white-color: #f5f5f5;
  --accent-color: #2196f3;
  --prime-black-color: #000000;
  --second-black-color: #212121;
  --third-black-color: #757575;
  --backgroun-footer-color: #2f303a;
  --active-color: #188ce8;
  --background-button-color: #f5f4fa;
  --mailto-ground-color: rgba(255, 255, 255, 0.6);
  --subscribe-border-color: rgba(255, 255, 255, 0.3);
  --gray-border-color: #eeeeee;
  --header-line-color: #ececec;
  --customer-border-color: #afb1b8;
  --elipse-color: #43444d;
  --background-hero-color: #c4c4c4;
  --bacground-what-we-doing-color: rgba(47, 48, 58, 0.8);
  --background-portfolio-box-details: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --time-cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-no-focus-color: rgba(33, 33, 33, 0.2);
  --textarea-text-color: rgba(117, 117, 117, 0.5);
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--brand-color);
  color: var(--third-black-color);
  font-family: Roboto, Raleway, Arial, Verdana, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

li {
  list-style-type: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--second-black-color);
  margin: 0 0 50px 0;
}

.img-block {
  display: block;
  width: 100%;
  height: auto;
}

.text {
  line-height: 1.71;
  margin-top: 10px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

header {
  border-bottom: 1px solid var(--header-line-color);
  position: relative;
}

@media screen and (min-width: 768px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo__header {
  color: var(--prime-black-color);
}

.accent {
  color: var(--accent-color);
}

.menu-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle.js-close-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: var(--brand-color);
  cursor: pointer;
  -webkit-transition: fill var(--time-cubic-bezier);
  transition: fill var(--time-cubic-bezier);
}
.menu-toggle.js-close-menu:hover, .menu-toggle.js-close-menu:focus {
  fill: var(--accent-color);
}

.icon-menu {
  -webkit-transition: fill var(--time-cubic-bezier);
  transition: fill var(--time-cubic-bezier);
}
.icon-menu:hover, .icon-menu:focus {
  fill: var(--accent-color);
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--brand-color);
  padding: 32px;
  font-size: 20px;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 767px) {
  .menu-container.is-open {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}

.navigation {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
@media screen and (min-width: 320px) {
  .navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 80px;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    margin-left: 0;
    width: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    width: 1170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.navigation__item {
  padding-top: 32px;
}
@media screen and (min-width: 768px) {
  .navigation__item {
    padding-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__item {
    padding-top: 0;
  }
}
.navigation__item:last-child {
  padding-top: 32px;
}
@media screen and (min-width: 768px) {
  .navigation__item:last-child {
    padding-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__item:last-child {
    padding-top: 0;
  }
}
@media screen and (min-width: 480px) {
  .navigation__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigation__list {
    margin-left: 87px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-left: 93px;
    margin-right: 315px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}
.navigation__link.link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--second-black-color);
  text-decoration: none;
  display: block;
  padding-left: 25px;
  -webkit-transition: color var(--time-cubic-bezier);
  transition: color var(--time-cubic-bezier);
}
@media screen and (min-width: 768px) {
  .navigation__link.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-black-color);
    text-decoration: none;
    display: block;
    padding: 32px 0;
    -webkit-transition: color var(--time-cubic-bezier);
    transition: color var(--time-cubic-bezier);
  }
}
@media screen and (min-width: 1200px) {
  .navigation__link.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-black-color);
    text-decoration: none;
    display: block;
    padding: 32px 0;
    -webkit-transition: color var(--time-cubic-bezier);
    transition: color var(--time-cubic-bezier);
  }
}
.navigation__link.link.current {
  color: var(--accent-color);
  display: block;
  position: relative;
}
@media screen and (min-width: 768px) {
  .navigation__link.link.current {
    color: var(--accent-color);
    display: block;
    position: relative;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__link.link.current {
    color: var(--accent-color);
    display: block;
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .navigation__link.link.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: -1px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__link.link.current::after {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: -1px;
  }
}

.navigation > .navigation__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation > .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-container.is-open .navigation__list {
  display: block;
}

.menu-container.is-open .container-contacts__mailito-tel {
  display: block;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    display: grid;
    grid-template-columns: 354px 354px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.link,
.icon {
  -webkit-transition: fill var(--time-cubic-bezier);
  transition: fill var(--time-cubic-bezier);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--background-hero-color);
  padding: 118px 0;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-img-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-img-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero .box {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-img-mobile-x2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-img-mobile-x2.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 0;
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-img-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-img-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero .box {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-img-tablet-x2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-img-tablet-x2.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-Img-desktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-Img-desktop.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero .box {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-img-desktop-x2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-img-desktop-x2.jpg");
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--brand-color);
  margin: 0 auto;
  text-transform: uppercase;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.container-contacts {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 25px;
}
@media screen and (min-width: 768px) {
  .container-contacts {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-top: 0;
    padding-left: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .container-contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 0;
  }
}

.navigation > .container-contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation > .container-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container-contacts__item {
  color: var(--third-black-color);
  font-weight: 500;
  text-decoration: none;
  line-height: 1.14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--time-cubic-bezier);
  transition: color var(--time-cubic-bezier);
}
@media screen and (min-width: 768px) {
  .container-contacts__item {
    font-size: 12px;
    line-height: 1.17;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .container-contacts__item {
    font-size: 14px;
    line-height: 1.14;
    padding: 32px 0;
  }
}
.container-contacts__item:hover .icon, .container-contacts__item:focus .icon {
  fill: var(--accent-color);
}
.container-contacts__item.link {
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .container-contacts__item.link {
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .container-contacts__item.link {
    letter-spacing: 0.02em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .container-contacts__item:not(:last-child) {
    padding-bottom: 10px;
  }
}

.container-contacts__icon {
  margin-right: 10px;
  fill: var(--third-black-color);
}
@media screen and (min-width: 320px) {
  .container-contacts__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container-contacts__icon {
    letter-spacing: 0.02em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .container-contacts__icon {
    letter-spacing: 0.02em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
  }
}

.icon-envelope {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .icon-envelope {
    width: 16px;
    height: 12px;
  }
}

.icon-smartphone {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .icon-smartphone {
    height: 12px;
  }
}

@media screen and (min-width: 320px) {
  .container-contacts__item.link.mailto {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-top: 32px;
    color: var(--third-black-color);
  }
}

@media screen and (min-width: 320px) {
  .container-contacts__item.link.tel {
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

.container-contacts__mailito-tel {
  gap: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .container-contacts__mailito-tel {
    gap: 30px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .container-contacts__mailito-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container-link__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 25px;
}

.container-link__item {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  position: relative;
  border-right: 1px solid var(--modal-no-focus-color);
  padding-right: 9.5px;
  margin-right: 9.5px;
  text-decoration: none;
}

.last-child {
  border-right: none;
}

.container-link {
  padding-top: 64px;
  padding-bottom: 16px;
}

.advantages,
.regular-customers {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .advantages,
.regular-customers {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages,
.regular-customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  background-color: var(--background-button-color);
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .advantages__icon {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__icon {
    width: 270px;
    height: 120px;
  }
}
.advantages__title {
  text-align: center;
  line-height: 1.14;
  font-size: 14px;
  color: var(--second-black-color);
}

@media screen and (min-width: 320px) {
  .what_we_doing-section {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .what_we_doing-section {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .what_we_doing-section {
    display: block;
    padding-bottom: 94px;
  }
  .what_we_doing-section__container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .what_we_doing-section__part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .what_we_doing-section__item:not(:last-of-type) {
    margin: 0 30px 0 0;
  }
  .what_we_doing-section__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    background: var(--bacground-what-we-doing-color);
    color: var(--brand-color);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    line-height: 1.14;
    font-weight: 700;
  }
  .what_we_doing-section__wrap {
    position: relative;
  }
}

.our-team {
  background-color: var(--background-button-color);
  padding: 60px 0;
}
@media screen and (min-width: 768px) {
  .our-team {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .our-team {
    padding: 94px 0;
  }
}
.our-team__presentation {
  background-color: var(--brand-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team__presentation:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .our-team__presentation:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__presentation:not(:last-child) {
    margin-bottom: 0;
  }
}
.our-team__title {
  font-size: 36px;
  line-height: 1.17;
  color: var(--second-black-color);
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .our-team__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__title {
    margin-bottom: 50px;
  }
}
.our-team__item {
  display: block;
}
@media screen and (min-width: 768px) {
  .our-team__item {
    display: grid;
    grid-template-columns: 354px 354px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    -ms-flex-preferred-size: calc((100% - 20px) / 2);
        flex-basis: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .our-team__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-preferred-size: calc((100% - 40px) / 4);
        flex-basis: calc((100% - 40px) / 4);
  }
}
.our-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--second-black-color);
  text-align: center;
  margin-bottom: 10px;
}
.our-team__card {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .our-team__card {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__card {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.our-team__txt {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.our-team__web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.social-link {
  width: 44px;
  height: 44px;
  color: var(--customer-border-color);
  background-color: var(--brand-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color var(--time-cubic-bezier), background-color var(--time-cubic-bezier);
  transition: color var(--time-cubic-bezier), background-color var(--time-cubic-bezier);
}
.social-link:hover, .social-link:focus {
  color: var(--brand-color);
  background-color: var(--accent-color);
}
.social-link__icon {
  fill: currentColor;
}

.regular-customers__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .regular-customers__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
.regular-customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--customer-border-color);
  fill: var(--customer-border-color);
  border-radius: 4px;
  -webkit-transition: fill var(--time-cubic-bezier), border-color var(--time-cubic-bezier);
  transition: fill var(--time-cubic-bezier), border-color var(--time-cubic-bezier);
}
@media screen and (min-width: 768px) {
  .regular-customers__link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .regular-customers__link {
    width: 170px;
    height: 92px;
  }
}
.regular-customers__link:focus, .regular-customers__link:active, .regular-customers__link:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.regular-customers__logo {
  height: 92px;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .regular-customers__logo {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .regular-customers__logo {
    -ms-flex-preferred-size: calc((100% - 150px) / 7);
        flex-basis: calc((100% - 150px) / 7);
  }
}

/* Footer */
.ground-footer {
  background-color: var(--backgroun-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .ground-footer {
    padding-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .ground-footer {
    padding-top: 0;
  }
}
.ground-footer__logo {
  color: var(--brand-color);
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .ground-footer__logo {
    color: var(--brand-color);
    display: inline-block;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .ground-footer__logo {
    color: var(--brand-color);
    display: inline-block;
    margin-bottom: 20px;
  }
}
.ground-footer__link-address {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-decoration: none;
  -webkit-transition: color var(--time-cubic-bezier);
  transition: color var(--time-cubic-bezier);
}
.ground-footer__mailto-tel {
  line-height: 1.71;
  color: var(--mailto-ground-color);
  text-decoration: none;
  -webkit-transition: color var(--time-cubic-bezier);
  transition: color var(--time-cubic-bezier);
}
.ground-footer__address-style {
  font-style: normal;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .ground-footer__address-style {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .ground-footer__address-style {
    text-align: left;
  }
}
.ground-footer__contacts {
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .ground-footer__contacts {
    margin-top: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .ground-footer__contacts {
    margin-top: 9px;
  }
}

@media screen and (min-width: 768px) {
  .logo-adress-tel {
    text-align: center;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-adress-tel {
    text-align: left;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .ground-footer__join {
    margin-left: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .container.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .ground-footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.ground-footer__text {
  color: var(--brand-color);
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 60px;
  line-height: 1.14;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .ground-footer__text {
    color: var(--brand-color);
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 60px;
    line-height: 1.14;
    font-weight: 700;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .ground-footer__text {
    color: var(--brand-color);
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1.14;
    font-weight: 700;
    text-align: left;
  }
}
.ground-footer__social-web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--brand-color);
}
.ground-footer__social-link {
  width: 44px;
  height: 44px;
  background-color: var(--elipse-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color var(--time-cubic-bezier);
  transition: background-color var(--time-cubic-bezier);
}
.ground-footer__social-link:hover, .ground-footer__social-link:focus {
  background-color: var(--accent-color);
}
.ground-footer__icon {
  fill: var(--brand-color);
}
@media screen and (min-width: 1200px) {
  .ground-footer__subscribe {
    margin-left: 93px;
  }
}
@media screen and (min-width: 768px) {
  .ground-footer__label {
    text-align: center;
  }
}
.ground-footer__input {
  width: 100%;
  height: 50px;
  background: var(--backgroun-footer-color);
  border: 1px solid var(--subscribe-border-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: var(--brand-color);
  padding-left: 16px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .ground-footer__input {
    width: 450px;
    height: 50px;
    background: var(--backgroun-footer-color);
    border: 1px solid var(--subscribe-border-color);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    color: var(--brand-color);
    padding-left: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .ground-footer__input {
    width: 358px;
    height: 50px;
    background: var(--backgroun-footer-color);
    border: 1px solid var(--subscribe-border-color);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    color: var(--brand-color);
    padding-left: 16px;
  }
}
.ground-footer__input:focus {
  border: 1px solid var(--accent-color);
}
.ground-footer__input placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
.ground-footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  fill: var(--brand-color);
}
@media screen and (min-width: 768px) {
  .ground-footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    fill: var(--brand-color);
  }
}
@media screen and (min-width: 1200px) {
  .ground-footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
    fill: var(--brand-color);
  }
}
.ground-footer__subscribe--btn {
  border: none;
  width: 200px;
  height: 50px;
  color: var(--brand-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10.54px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: background-color var(--time-cubic-bezier);
  transition: background-color var(--time-cubic-bezier);
  margin: 0 auto;
}
.ground-footer__subscribe--btn:focus, .ground-footer__subscribe--btn:hover {
  background: var(--active-color);
}

::-webkit-input-placeholder {
  color: var(--mailto-ground-color);
}

.social-link {
  width: 44px;
  height: 44px;
  color: var(--customer-border-color);
  background-color: var(--brand-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color var(--time-cubic-bezier), background-color var(--time-cubic-bezier);
  transition: color var(--time-cubic-bezier), background-color var(--time-cubic-bezier);
}
.social-link:hover, .social-link:focus {
  color: var(--brand-color);
  background-color: var(--accent-color);
}
.social-link__icon {
  fill: currentColor;
}

.hero__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  margin: 30px auto 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--time-cubic-bezier);
  transition: background-color var(--time-cubic-bezier);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--active-color);
}
.hero__button:active {
  color: var(--brand-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 8px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .portfolio__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.filter {
  letter-spacing: 0.03em;
  color: var(--second-black-color);
  background-color: var(--background-button-color);
  cursor: pointer;
}

.portfolio__link-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--second-black-color);
  background-color: var(--background-button-color);
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  -webkit-transition: color var(--time-cubic-bezier), background-color var(--time-cubic-bezier), -webkit-box-shadow var(--time-cubic-bezier);
  transition: color var(--time-cubic-bezier), background-color var(--time-cubic-bezier), -webkit-box-shadow var(--time-cubic-bezier);
  transition: color var(--time-cubic-bezier), background-color var(--time-cubic-bezier), box-shadow var(--time-cubic-bezier);
  transition: color var(--time-cubic-bezier), background-color var(--time-cubic-bezier), box-shadow var(--time-cubic-bezier), -webkit-box-shadow var(--time-cubic-bezier);
}
.portfolio__link-filter:hover, .portfolio__link-filter:focus {
  color: var(--brand-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.border-pluse {
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .border-pluse {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .border-pluse {
    margin-right: 0;
  }
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--backdrop-color);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--cubic-bezier);
  transition: opacity 250ms var(--cubic-bezier);
}

.modal {
  width: 450px;
  height: 609px;
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  background: var(--brand-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--time-cubic-bezier);
  transition: -webkit-transform var(--time-cubic-bezier);
  transition: transform var(--time-cubic-bezier);
  transition: transform var(--time-cubic-bezier), -webkit-transform var(--time-cubic-bezier);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--second-black-color);
  margin-bottom: 12px;
}
.modal__form-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.modal__input-modal {
  position: relative;
  margin-top: 4px;
}
.modal__form {
  margin-bottom: 20px;
}
.modal__contract {
  margin-left: 6px;
  color: var(--accent-color);
  text-decoration: none;
  text-decoration: underline;
}
.modal__submit-btn {
  border: none;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--brand-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: background-color var(--time-cubic-bezier);
  transition: background-color var(--time-cubic-bezier);
}
.modal__submit-btn:focus {
  background: var(--active-color);
  -webkit-transition: background-color var(--time-cubic-bezier);
  transition: background-color var(--time-cubic-bezier);
}
.modal__form-field {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal__textarea-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: visibility var(--time-cubic-bezier);
  transition: visibility var(--time-cubic-bezier);
}

.modal__close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background: var(--brand-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill var(--time-cubic-bezier);
  transition: fill var(--time-cubic-bezier);
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--accent-color);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.4);
          transform: translate(-50%, -50%) scale(0.4);
}

.modal__form-field svg {
  position: absolute;
  top: 50%;
  left: 12px;
}

.modal__form-element input {
  height: 40px;
  border: 1px solid var(--modal-no-focus-color);
  border-radius: 4px;
  padding-left: 42px;
  width: 100%;
  outline: none;
  cursor: pointer;
  -webkit-transition: border-color var(--time-cubic-bezier);
  transition: border-color var(--time-cubic-bezier);
}

.modal__form-element input:focus {
  border: 1px solid var(--accent-color);
}

.modal__form-element input:focus + svg {
  fill: var(--accent-color);
  -webkit-transition: fill var(--time-cubic-bezier);
  transition: fill var(--time-cubic-bezier);
}

.modal__form .btn {
  border: none;
  padding: 10px 52px;
  color: var(--brand-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

textarea {
  width: 370px;
  height: 120px;
  border: 1px solid var(--modal-no-focus-color);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  cursor: pointer;
  outline: none;
  color: var(--backgroun-footer-color);
  -webkit-transition: border-color var(--time-cubic-bezier);
  transition: border-color var(--time-cubic-bezier);
}
@media screen and (min-width: 1200px) {
  textarea {
    width: 448px;
    height: 120px;
  }
}
textarea:focus {
  border: 1px solid var(--accent-color);
}
textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--textarea-text-color);
}
textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--textarea-text-color);
}
textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--textarea-text-color);
}
textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--textarea-text-color);
}
textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--textarea-text-color);
}

.modal__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal__checkbox {
  border: 2px solid var(--second-black-color);
  width: 16px;
  height: 15px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8.38px;
  -webkit-transition: border-color var(--time-cubic-bezier);
  transition: border-color var(--time-cubic-bezier);
}
@media screen and (min-width: 1200px) {
  .modal__checkbox {
    margin-left: 12px;
  }
}

.modal__icon-check {
  fill: var(--brand-color);
}

.modal__check input:checked + label .modal__checkbox {
  background: var(--accent-color);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__check input:focus + label .modal__checkbox {
  border-color: var(--accent-color);
}

.modal__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .modal__checkbox-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.17;
  }
}

.modal__accept {
  display: inline-block;
}

.menu-container > .menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  border: none;
  background: var(--brand-color);
  cursor: pointer;
  -webkit-transition: fill var(--time-cubic-bezier);
  transition: fill var(--time-cubic-bezier);
}
@media screen and (min-width: 768px) {
  .menu-container > .menu-toggle {
    display: none;
  }
}
.menu-container > .menu-toggle:hover, .menu-container > .menu-toggle:focus {
  fill: var(--accent-color);
}

.portfolio__main {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio__main {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.portfolio__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-black-color);
  margin: 0;
}
.portfolio__txt {
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
  color: var(--third-black-color);
}
.portfolio__box--grey-border {
  border-right: 1px solid var(--gray-border-color);
  border-bottom: 1px solid var(--gray-border-color);
  border-left: 1px solid var(--gray-border-color);
  padding: 20px 24px;
}
.portfolio__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio__box {
    display: grid;
    grid-template-columns: 354px 354px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
.portfolio__box-link-details {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--background-portfolio-box-details);
  color: var(--brand-color);
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform var(--time-cubic-bezier);
  transition: -webkit-transform var(--time-cubic-bezier);
  transition: transform var(--time-cubic-bezier);
  transition: transform var(--time-cubic-bezier), -webkit-transform var(--time-cubic-bezier);
}
.portfolio__box-link-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio__box-link {
  display: block;
  text-decoration: none;
  color: var(--third-black-color);
  -webkit-transition: -webkit-box-shadow var(--time-cubic-bezier);
  transition: -webkit-box-shadow var(--time-cubic-bezier);
  transition: box-shadow var(--time-cubic-bezier);
  transition: box-shadow var(--time-cubic-bezier), -webkit-box-shadow var(--time-cubic-bezier);
}
.portfolio__box-link:hover, .portfolio__box-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__box-link:hover .portfolio__box-link-details, .portfolio__box-link:focus .portfolio__box-link-details {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.no-scroll {
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */