@import './utils/variables';
// @import "./utils/common";
@import './utils/mixins';

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--brand-color);
  color: var(--third-black-color);
  font-family: Roboto, Raleway, Arial, Verdana, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

li {
  list-style-type: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--second-black-color);
  margin: 0 0 50px 0;
}

.img-block {
  @include desktop {
    display: block;
    width: 100%;
  }
}

.text {
  line-height: 1.71;
  margin-top: 10px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

header {
  border-bottom: 1px solid var(--header-line-color);
}

.header-container {
  @include tablet {
    display: flex;
    align-items: center;
  }

  @include desktop {
    display: flex;
    align-items: center;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__header {
  color: var(--prime-black-color);
}

.accent {
  color: var(--accent-color);
}

.navigation {
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  //   display: flex;
  //   align-items: center;
  padding: 0;

  @include tablet {
    width: 480px;
    display: flex;
    align-items: center;
  }

  @include desktop {
    width: 1200px;
    display: flex;
    align-items: center;
  }

  &__list {
    margin-left: 93px;
    display: flex;
    gap: 50px;
  }

  &__link.link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-black-color);
    text-decoration: none;
    display: block;
    padding: 32px 0;
    transition: color var(--time-cubic-bezier);
  }

  &__link.link.current {
    color: var(--accent-color);
    display: block;
    position: relative;
  }

  &__link.link.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: -1px;
  }
}

.advantages__item {
  display: flex;
  gap: 30px;
}

.link,
.icon {
  transition: fill var(--time-cubic-bezier);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--background-hero-color);
  padding: 118px 0;
  text-align: center;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-Img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include tablet {
    padding: 118px 0;
    max-width: 768px;
  }

  @include desktop {
    padding: 200px 0;
    max-width: 1600px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--brand-color);
  margin: 0 auto;
  text-transform: uppercase;
  max-width: 360px;

  @include tablet {
 
  }

  @include desktop {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
