@import './utils/variables';
// @import "./utils/common";
@import './utils/mixins';

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--brand-color);
  color: var(--third-black-color);
  font-family: Roboto, Raleway, Arial, Verdana, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

li {
  list-style-type: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 320px) {
    width: 100%;
  }
  @include tablet {
    width: 768px;
  }
  @include desktop {
    width: 1200px;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--second-black-color);
  margin: 0 0 50px 0;
}

.img-block {
  display: block;
  width: 100%;
  height: auto;
}

.text {
  line-height: 1.71;
  margin-top: 10px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

header {
  border-bottom: 1px solid var(--header-line-color);
  position: relative;
}

.header-container {
  @include tablet {
    display: flex;
    align-items: center;
  }
  @include desktop {
    display: flex;
    align-items: center;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  @include tablet {
    font-size: 24px;
    line-height: 1.17;
  }
  @include desktop {
    display: flex;
    align-items: center;
  }
}

.logo__header {
  color: var(--prime-black-color);
}

.accent {
  color: var(--accent-color);
}

.menu-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-toggle.js-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: var(--brand-color);
  cursor: pointer;
  transition: fill var(--time-cubic-bezier);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.icon-menu {
  transition: fill var(--time-cubic-bezier);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--brand-color);
  padding: 32px;
  font-size: 20px;
  z-index: 999;
  transform: translateX(100%);
  transition: 250ms ease-in-out;
 }

.menu-container.is-open {
  transform: translateX(0);
  
  @media screen and (min-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}

.navigation {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  padding: 0;

  @media screen and (min-width: 320px) {
    justify-content: space-between;
    min-height: 80px;
  }
  @include tablet {
    margin-left: 0;
    width: 480px;
    display: flex;
    align-items: center;
  }
  @include desktop {
    width: 1170px;
    display: flex;
    align-items: center;
  }
  &__item {
    padding-top: 32px;

    @include tablet {
      padding-top: 0;
    }
    @include desktop {
      padding-top: 0;
    }
  }

  &__item:last-child {
    padding-top: 32px;

    @include tablet {
      padding-top: 0;
    }
    @include desktop {
      padding-top: 0;
    }
  }

  &__list {
    @media screen and (min-width: 480px) {
      display: none;
    }
    @include tablet {
      margin-left: 87px;
      display: flex;
      gap: 50px;
    }
    @include desktop {
      margin-left: 93px;
      margin-right: 315px;
      display: flex;
      gap: 50px;
    }
  }

  &__link.link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--second-black-color);
    text-decoration: none;
    display: block;
    padding-left: 25px;
    transition: color var(--time-cubic-bezier);

    @include tablet {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--second-black-color);
      text-decoration: none;
      display: block;
      padding: 32px 0;
      transition: color var(--time-cubic-bezier);
    }

    @include desktop {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--second-black-color);
      text-decoration: none;
      display: block;
      padding: 32px 0;
      transition: color var(--time-cubic-bezier);
    }
  }

  &__link.link.current {
    color: var(--accent-color);
    display: block;
    position: relative;

    @include tablet {
      color: var(--accent-color);
      display: block;
      position: relative;
    }
    @include desktop {
      color: var(--accent-color);
      display: block;
      position: relative;
    }
  }

  &__link.link.current::after {
    @include tablet {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
      position: absolute;
      bottom: -1px;
    }
    @include desktop {
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
      position: absolute;
      bottom: -1px;
    }
  }
}
.navigation > .navigation__list {
  display: none;
  @include tablet {
    display: flex;
  }
}
.menu-container.is-open .navigation__list {
  display: block;
}
.menu-container.is-open .container-contacts__mailito-tel {
  display: block;
}

.advantages__item {
  @include tablet {
    display: grid;
    grid-template-columns: 354px 354px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  @include desktop {
    display: flex;
    gap: 30px;
  }
}

.link,
.icon {
  transition: fill var(--time-cubic-bezier);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--background-hero-color);
  padding: 118px 0;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/hero-img-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .box {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero/hero-img-mobile-x2.jpg');
    }
  }
  @include tablet {
    padding: 118px 0;
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero-img-tablet.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .box {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url('../images/hero/hero-img-tablet-x2.jpg');
      }
    }
  }

  @include desktop {
    padding: 200px 0;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero-Img-desktop.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .box {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url('../images/hero/hero-img-desktop-x2.jpg');
      }
    }
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--brand-color);
  margin: 0 auto;
  text-transform: uppercase;
  max-width: 360px;

  @include desktop {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.container-contacts {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 25px;

  @include tablet {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-top: 0;
    padding-left: 96px;
  }
  @include desktop {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 0;
  }
}

.navigation > .container-contacts {
  display: none;
  @include tablet {
    display: flex;
  }
}

.container-contacts__item {
  color: var(--third-black-color);
  font-weight: 500;
  text-decoration: none;
  line-height: 1.14;
  display: flex;
  align-items: center;
  transition: color var(--time-cubic-bezier);

  @include tablet {
    font-size: 12px;
    line-height: 1.17;
    padding-bottom: 10px;
  }

  @include desktop {
    font-size: 14px;
    line-height: 1.14;
    padding: 32px 0;
  }

  &:hover .icon,
  &:focus .icon {
    fill: var(--accent-color);
  }

  &.link {
    letter-spacing: 0.02em;

    @include tablet {
      letter-spacing: 0.02em;
    }

    @include desktop {
      letter-spacing: 0.02em;
      display: flex;
      align-items: center;
    }
  }
}

.container-contacts__item:not(:last-child) {
  @include tablet {
    padding-bottom: 10px;
  }
}

.container-contacts__icon {
  margin-right: 10px;
  fill: var(--third-black-color);

  @media screen and (min-width: 320px) {
    display: none;
  }

  @include tablet {
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  @include desktop {
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
}
.icon-envelope {
  width: 14px;
  height: 10px;
  @include desktop {
    width: 16px;
    height: 12px;
  }
}
.icon-smartphone {
  width: 10px;
  height: 14px;
  @include desktop {
    height: 12px;
  }
}

.container-contacts__item.link.mailto {
  @media screen and (min-width: 320px) {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-top: 32px;
    color: var(--third-black-color);
  }
}

.container-contacts__item.link.tel {
  @media screen and (min-width: 320px) {
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

.container-contacts__mailito-tel {
  gap: 30px;
  justify-content: flex-end;
  align-items: center;

  @include tablet {
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
  }

  @include desktop {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
  }
}

.container-link__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
}

.container-link__item {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  position: relative;
  border-right: 1px solid var(--modal-no-focus-color);
  padding-right: 9.5px;
  margin-right: 9.5px;
  text-decoration: none;
}

.last-child {
  border-right: none;
}

.container-link {
  padding-top: 64px;
  padding-bottom: 16px;
}

.advantages,
.regular-customers {
  padding-top: 60px;
  padding-bottom: 60px;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages {
  &__icon {
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: var(--background-button-color);
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: center;

    @include tablet {
      width: 354px;
      height: 120px;
    }

    @include desktop {
      width: 270px;
      height: 120px;
    }
  }

  &__title {
    text-align: center;
    line-height: 1.14;
    font-size: 14px;
    color: var(--second-black-color);
  }
}

.what_we_doing-section {
  @media screen and (min-width: 320px) {
    display: none;
  }

  @include tablet {
    display: none;
  }
  @include desktop {
    display: block;
    padding-bottom: 94px;

    &__container {
      margin: 0 auto;
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
    }

    &__part {
      display: flex;
    }

    &__item:not(:last-of-type) {
      margin: 0 30px 0 0;
    }

    &__details {
      display: flex;
      position: absolute;
      bottom: 0;
      height: 70px;
      width: 100%;
      background: var(--bacground-what-we-doing-color);
      color: var(--brand-color);
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      line-height: 1.14;
      font-weight: 700;
    }

    &__wrap {
      position: relative;
    }
  }
}

.our-team {
  background-color: var(--background-button-color);
  padding: 60px 0;

  @include tablet {
    padding: 60px 0;
  }

  @include desktop {
    padding: 94px 0;
  }

  &__presentation {
    background-color: var(--brand-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__presentation:not(:last-child) {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 0;
    }

    @include desktop {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 1.17;
    color: var(--second-black-color);
    text-align: center;
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 30px;
    }

    @include desktop {
      margin-bottom: 50px;
    }
  }

  &__item {
    display: block;

    @include tablet {
      display: grid;
      grid-template-columns: 354px 354px;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      flex-basis: calc((100% - 4 * 5px) / 2);
    }

    @include desktop {
      display: flex;
      gap: 30px;
      flex-basis: calc((100% - 8 * 5px) / 4);
    }
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--second-black-color);
    text-align: center;
    margin-bottom: 10px;
  }

  &__card {
    padding-top: 30px;
    padding-bottom: 24px;

    @include tablet {
      padding-top: 30px;
      padding-bottom: 24px;
    }

    @include desktop {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__txt {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  &__web {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
  }
}
.social-link {
  width: 44px;
  height: 44px;
  color: var(--customer-border-color);
  background-color: var(--brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--time-cubic-bezier), background-color var(--time-cubic-bezier);

  &:hover,
  &:focus {
    color: var(--brand-color);
    background-color: var(--accent-color);
  }

  &__icon {
    fill: currentColor;
  }
}

.regular-customers {
  &__line {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @include desktop {
      display: flex;
      justify-content: center;
      gap: 30px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    border: 1px solid var(--customer-border-color);
    fill: var(--customer-border-color);
    border-radius: 4px;
    transition: fill var(--time-cubic-bezier), border-color var(--time-cubic-bezier);

    @include tablet {
      width: 226px;
      height: 92px;
    }

    @include desktop {
      width: 170px;
      height: 92px;
    }

    &:focus,
    &:active,
    &:hover {
      fill: var(--accent-color);
      border-color: var(--accent-color);
    }
  }
}

.regular-customers__logo {
  height: 92px;
  flex-basis: calc((100% - 30px) / 2);

  @include tablet {
    flex-basis: calc((100% - 60px) / 3);
  }

  @include desktop {
    flex-basis: calc((100% - 150px) / 7);
  }
}

/* Footer */
.ground-footer {
  background-color: var(--backgroun-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;

  @include tablet {
    padding-top: 0;
  }

  @include desktop {
    padding-top: 0;
  }

  &__logo {
    color: var(--brand-color);
    display: block;
    text-align: center;
    margin-bottom: 20px;

    @include tablet {
      color: var(--brand-color);
      display: inline-block;
      margin-bottom: 20px;
    }

    @include desktop {
      color: var(--brand-color);
      display: inline-block;
      margin-bottom: 20px;
    }
  }

  &__link-address {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    text-decoration: none;
    transition: color var(--time-cubic-bezier);
  }

  &__mailto-tel {
    line-height: 1.71;
    color: var(--mailto-ground-color);
    text-decoration: none;
    transition: color var(--time-cubic-bezier);
  }

  &__address-style {
    font-style: normal;
    text-align: center;

    @include tablet {
      text-align: center;
    }

    @include desktop {
      text-align: left;
    }
  }

  &__contacts {
    margin-top: 8px;

    @include tablet {
      margin-top: 8px;
    }

    @include desktop {
      margin-top: 9px;
    }
  }
}
.logo-adress-tel {
  @include tablet {
    text-align: center;
    margin-right: 165px;
  }
  @include desktop {
    text-align: left;
    margin-right: 0;
  }
}

.ground-footer__join {
  @include desktop {
    margin-left: 70px;
  }
}

.container.footer {
  @include desktop {
    display: flex;
    align-items: baseline;
  }
}

.ground-footer__tablet {
  @include tablet {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

.ground-footer {
  &__text {
    color: var(--brand-color);
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 60px;
    line-height: 1.14;
    font-weight: 700;
    text-align: center;

    @include tablet {
      color: var(--brand-color);
      text-transform: uppercase;
      margin-bottom: 20px;
      margin-top: 60px;
      line-height: 1.14;
      font-weight: 700;
      text-align: center;
    }

    @include desktop {
      color: var(--brand-color);
      text-transform: uppercase;
      margin-bottom: 20px;
      line-height: 1.14;
      font-weight: 700;
      text-align: left;
    }
  }

  &__social-web {
    display: flex;
    gap: 10px;
    justify-content: center;
    fill: var(--brand-color);
  }

  &__social-link {
    width: 44px;
    height: 44px;
    background-color: var(--elipse-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--time-cubic-bezier);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  &__icon {
    fill: var(--brand-color);
  }

  &__subscribe {
    @include tablet {
    }

    @include desktop {
      margin-left: 93px;
    }
  }

  &__label {
    @include tablet {
      text-align: center;
    }
  }
  &__input {
    width: 100%;
    height: 50px;
    background: var(--backgroun-footer-color);
    border: 1px solid var(--subscribe-border-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    color: var(--brand-color);
    padding-left: 16px;
    margin-bottom: 20px;

    @include tablet {
      width: 450px;
      height: 50px;
      background: var(--backgroun-footer-color);
      border: 1px solid var(--subscribe-border-color);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      outline: none;
      color: var(--brand-color);
      padding-left: 16px;
    }

    @include desktop {
      width: 358px;
      height: 50px;
      background: var(--backgroun-footer-color);
      border: 1px solid var(--subscribe-border-color);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      outline: none;
      color: var(--brand-color);
      padding-left: 16px;
    }

    &:focus {
      border: 1px solid var(--accent-color);
    }
  }

  &__input placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }

  &__form {
    display: flex;
    flex-direction: column;
    fill: var(--brand-color);

    @include tablet {
      display: flex;
      flex-direction: column;
      fill: var(--brand-color);
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      gap: 12px;
      fill: var(--brand-color);
    }
  }

  &__subscribe--btn {
    border: none;
    width: 200px;
    height: 50px;
    color: var(--brand-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10.54px;
    justify-content: center;
    cursor: pointer;
    transition: background-color var(--time-cubic-bezier);
    margin: 0 auto;

    &:focus,
    &:hover {
      background: var(--active-color);
    }
  }
}

::-webkit-input-placeholder {
  color: var(--mailto-ground-color);
}

.social-link {
  width: 44px;
  height: 44px;
  color: var(--customer-border-color);
  background-color: var(--brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--time-cubic-bezier), background-color var(--time-cubic-bezier);

  &:hover,
  &:focus {
    color: var(--brand-color);
    background-color: var(--accent-color);
  }

  &__icon {
    fill: currentColor;
  }
}

// buttons
.hero__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  margin: 30px auto 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--time-cubic-bezier);

  &:hover,
  &:focus {
    background-color: var(--active-color);
  }

  &:active {
    color: var(--brand-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.portfolio__button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 50px;

  @include tablet {
    justify-content: center;
  }
  @include desktop {
    display: flex;
  }
}

.filter {
  letter-spacing: 0.03em;
  color: var(--second-black-color);
  background-color: var(--background-button-color);
  cursor: pointer;
}

.portfolio__link-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--second-black-color);
  background-color: var(--background-button-color);
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  transition: color var(--time-cubic-bezier), background-color var(--time-cubic-bezier),
    box-shadow var(--time-cubic-bezier);

  &:hover,
  &:focus {
    color: var(--brand-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.border-pluse {
  margin-right: 20px;
  @include tablet {
    margin-right: 0;
  }
  @include desktop {
    margin-right: 0;
  }
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--backdrop-color);
  opacity: 1;
  transition: opacity 250ms var(--cubic-bezier);
}

.modal {
  width: 450px;
  height: 609px;
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  background: var(--brand-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time-cubic-bezier);

  @include tablet {
    width: 450px;
    height: 609px;
  }

  @include desktop {
    width: 528px;
    height: 581px;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--second-black-color);
    margin-bottom: 12px;
  }

  &__form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__input-modal {
    position: relative;
    margin-top: 4px;
  }

  &__form {
    margin-bottom: 20px;
  }

  &__contract {
    margin-left: 6px;
    color: var(--accent-color);
    text-decoration: none;
    text-decoration: underline;
  }

  &__submit-btn {
    border: none;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    color: var(--brand-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
      drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background-color var(--time-cubic-bezier);

    &:focus {
      background: var(--active-color);
      transition: background-color var(--time-cubic-bezier);
    }
  }

  &__form-field {
    position: relative;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }

  &__textarea-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    display: block;
    margin-bottom: 4px;
  }
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  transition: visibility var(--time-cubic-bezier);
}

.modal__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background: var(--brand-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill var(--time-cubic-bezier);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4);
}

.modal__form-field svg {
  position: absolute;
  top: 50%;
  left: 12px;
}

.modal__form-element input {
  height: 40px;
  border: 1px solid var(--modal-no-focus-color);
  border-radius: 4px;
  padding-left: 42px;
  width: 100%;
  outline: none;
  cursor: pointer;
  transition: border-color var(--time-cubic-bezier);
}

.modal__form-element input:focus {
  border: 1px solid var(--accent-color);
}

.modal__form-element input:focus + svg {
  fill: var(--accent-color);
  transition: fill var(--time-cubic-bezier);
}

.modal__form .btn {
  border: none;
  padding: 10px 52px;
  color: var(--brand-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

textarea {
  width: 370px;
  height: 120px;
  border: 1px solid var(--modal-no-focus-color);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  cursor: pointer;
  outline: none;
  color: var(--backgroun-footer-color);
  transition: border-color var(--time-cubic-bezier);

  @include desktop {
    width: 448px;
    height: 120px;
  }

  &:focus {
    border: 1px solid var(--accent-color);
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--textarea-text-color);
  }
}

.modal__check {
  display: flex;
  align-items: center;
}

.modal__check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal__checkbox {
  border: 2px solid var(--second-black-color);
  width: 16px;
  height: 15px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  margin-right: 8.38px;
  transition: border-color var(--time-cubic-bezier);

  @include desktop {
    margin-left: 12px;
  }
}

.modal__icon-check {
  fill: var(--brand-color);
}

.modal__check input:checked + label .modal__checkbox {
  background: var(--accent-color);
  border: none;
  display: flex;
  justify-content: center;
}

.modal__check input:focus + label .modal__checkbox {
  border-color: var(--accent-color);
}

.modal__checkbox-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  @include desktop {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.17;
  }
}
.modal__accept {
  display: inline-block;
}

.menu-container > .menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  border: none;
  background: var(--brand-color);
  cursor: pointer;
  transition: fill var(--time-cubic-bezier);

  @include tablet {
    display: none;
  }

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.portfolio {
  &__main {
    padding-top: 60px;
    padding-bottom: 60px;

    @include desktop {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-black-color);
    margin: 0;
  }

  &__txt {
    font-size: 16px;
    line-height: 1.88;
    margin-top: 4px;
    color: var(--third-black-color);
  }

  &__box--grey-border {
    border-right: 1px solid var(--gray-border-color);
    border-bottom: 1px solid var(--gray-border-color);
    border-left: 1px solid var(--gray-border-color);
    padding: 20px 24px;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @include tablet {
      display: grid;
      grid-template-columns: 354px 354px;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
    }

    @include desktop {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }

  &__box-link-details {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--background-portfolio-box-details);
    color: var(--brand-color);
    font-size: 18px;
    line-height: 1.56;
    padding: 63px 24px;
    transform: translateY(101%);
    transition: transform var(--time-cubic-bezier);
  }

  &__box-link-wrap {
    position: relative;
    overflow: hidden;
  }

  &__box-link {
    display: block;
    text-decoration: none;
    color: var(--third-black-color);
    transition: box-shadow var(--time-cubic-bezier);
  }

  &__box-link:hover,
  &__box-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__box-link:hover &__box-link-details,
  &__box-link:focus &__box-link-details {
    transform: translateY(0);
  }
}

.no-scroll {
  overflow: hidden;
}
