/* Footer */
.ground-footer {
    background-color: var(--backgroun-footer-color);
    padding-top: 60px;
    padding-bottom: 60px;

    &__logo {
        color: var(--brand-color);
        display: inline-block;
        margin-bottom: 20px;
    }

    &__link-address {
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--brand-color);
        text-decoration: none;
        transition: color var(--time-cubic-bezier);
    }

    &__mailto-tel {
        line-height: 1.71;
        color: var(--mailto-ground-color);
        text-decoration: none;
        transition: color var(--time-cubic-bezier);
    }

    &__address-style {
        font-style: normal;
    }

    &__contacts {
        margin-top: 9px;
    }
}

.ground-footer__join {
    margin-left: 70px;
}

.container.footer {
    display: flex;
    align-items: baseline;
}

.ground-footer {
    &__text {
        color: var(--brand-color);
        text-transform: uppercase;
        margin-bottom: 20px;
        line-height: 1.14;
        font-weight: 700;
    }

    &__social-web {
        display: flex;
        gap: 10px;
        justify-content: center;
        fill: var(--brand-color);
    }

    &__social-link {
        width: 44px;
        height: 44px;
        background-color: var(--elipse-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color var(--time-cubic-bezier);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
    }

    &__icon {
        fill: var(--brand-color);
    }

    &__subscribe {
        margin-left: 93px;
    }

    &__input {
        width: 358px;
        height: 50px;
        background: var(--backgroun-footer-color);
        border: 1px solid var(--subscribe-border-color);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        outline: none;
        color: var(--brand-color);
        padding-left: 16px;
    
        &:focus {
        border: 1px solid var(--accent-color);
        } 
    }

    &__input placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
    }

    &__form {
        display: flex;
        gap: 12px;
        fill: var(--brand-color);
    }

    &__subscribe--btn {
        border: none;
        width: 210.88px;
        height: 50px;
        color: var(--brand-color);
        background-color: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.06em;
        display: flex;
        text-align: center;
        align-items: center;
        gap: 10.54px;
        justify-content: center;
        cursor: pointer;
        transition: background-color var(--time-cubic-bezier);

        &:focus,
        &:hover {
            background: var(--active-color);
        }
    }
}

::-webkit-input-placeholder {
    color: var(--mailto-ground-color);
}

.social-link {
    width: 44px;
    height: 44px;
    color: var(--customer-border-color);
    background-color: var(--brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color var(--time-cubic-bezier), background-color var(--time-cubic-bezier);

    &:hover,
    &:focus {
        color: var(--brand-color);
        background-color: var(--accent-color);
    }

    &__icon {
        fill: currentColor;
    }
}