ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--brand-color);
    color: var(--third-black-color);
    font-family: Roboto, Raleway, Arial, Verdana, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}
li {
    list-style-type: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--second-black-color);
    margin: 0 0 50px 0;
}
.img-block {
    display: block;
    width: 100%;
}
.text {
    line-height: 1.71;
    margin-top: 10px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
